body { 
    background-color: lightblue; 
    } 
    h1 
    { color: white; margin-left: 20px; 
    }
    h2 
    { color: white; margin-left: 20px; 
    }
    h3
    { color: white; margin-left: 20px; 
    }
